
.b {
    margin-left: 500px;
    margin-right: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:400px;
    height:100%;
 
}
h1 {
    text-align: center;
    text-decoration: underline;
}
h2 {
    text-align: center;
}

h3 {
    text-align: center;
}
h4 {
    text-align: center;
}
h5 {
    text-align: center;
}

